<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Springboard_Data_Migration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Springboard_Data_Migration.Properties.Settings>
            <setting name="VenEnd" serializeAs="String">
                <value>/api/vendor</value>
            </setting>
            <setting name="CustFields" serializeAs="String">
                <value>/api/custom_fields</value>
            </setting>
            <setting name="apiKey" serializeAs="String">
                <value>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOiJlZjIxMDlmMy05ZTM0LTRiMzAtYTU4Yy1iYzUzMmEyNGRhMjMiLCJpYXQiOjE0Nzg3Mjg3MTAsInN1YiI6MTAwMDE0LCJhdWQiOjE1NDV9.MEqaP5l-P_ykFBu9XESC5pvRR1hK6HflOqI7X4ZTbfw</value>
            </setting>
            <setting name="url" serializeAs="String">
                <value>https://onestepretailsolutions.myspringboard.us</value>
            </setting>
            <setting name="useTest" serializeAs="String">
                <value>True</value>
            </setting>
        </Springboard_Data_Migration.Properties.Settings>
    </userSettings>
</configuration>